{% extends 'base.html.twig' %}
{% block title %}Project{% endblock %}
{% block body %}
<table class="table table-stripe  d table-dark">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">edit</th>
              <th scope="col">del</th>
            </tr>
          </thead>
          <tbody>
            {% for namber in project %}
              <tr>
                <td>{{ namber.id }}</td>
                <td><a href="/project.php?project_id=<?php echo $row['project_id'] ?>">{{ namber.name }}</a></td>
                <td><a href="/edit.php?project_id=<?php echo $row['project_id'] ?>">Edit</a></td>
                <td><a href="/delete.php?project_id=<?php echo $row['project_id'] ?>">Delete</a></td>
              </tr>
            {% endfor %}
          </tbody>
<button name="write" class="j-submit-report" onclick="window.location.href='create_project.php'">Create project</button>
          </table>
          </div>
{% endblock %}
